* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sidebarmenu1 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100px;
}
.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.channelinfosection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 15px;
}
